/.git-original
/output
/dl
/toolchain
/system
/support
/package
/output
/linux
/git-original
/fs
/docs
/dl
/configs
/boot
/board
/arch
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
buildLog
